/* Positioning is hard. I'm leaving notes here so I can memorize the concepts enough to struggle through until I get it down.*/
/* Box Level Elements by default stack right on top of eachother!!! */

/* Position Property values: */
/* STATIC - Static tells the element to position itself using normal document flow (default)*/
/* RELATIVE - Relative positioning is still considered part of the normal document flow, but it allows you to tweak an elements position based on offset valzues you assign */
/* ABSOLUTE - Not normal document flow. It removes the element from normal flow and repositions it based on offset values given, allowing others to move into its old position */
/* INHERIT - inherits parent element values */
/* FIXED - Fixed elements are considered to be absolutely positioned but they're always positioned relative to the active view port*/

/* Float Property Values - Left, right, none, inherit */
/* Clear Property specifies what elements cannot float beside the cleared element and on which side. */
/* Clear Values - none (default), left, right, both, inherit */

/* Display Propert: grid; */
/* Draws a grid within a container (has horizonal rows and vertical columns)*/

body {

  font-family: 'dosis', 'times new roman';
  background-color: #737373;
  background-image: linear-gradient(to bottom right, #333, #000000);
}

main {
  width: 75%;
  border-color: #bfbfbf;
  border-radius: 20px;
  background-color: #bfbfbf;
  margin: 50px auto 050px auto;
  padding: 20px;
}

header {
  margin: 15px auto 15px auto;
  width: 80%;
  padding: 10px;
  text-align: center;
  border: double 3px;
  border-radius: 15px;
  box-shadow: 3px 3px 100px #ffffff inset;

}

img {
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 10px 10px 20px; /* h-offset, v-offset, blur, spread color | inset| initial| inherit */
  padding: 1px;
}

#img-section {
  width:75%;
  float: left;
  padding: 1em;
}

#about-this-picture {
}

#birthplace {
}

.clear-float-1{
  clear: left;
}

.bit-columns {}


figcaption {
  padding: 25px 0px 0px 0px;
}
footer {
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  background-color: #bfbfbf;
  border: double 3px;
  border-color: white;
  border-radius: 20px;
  text-align: center;
}
