html{
  padding: 0;
  margin: 0;
}

body{

  margin: 0;
  top: 100px;
  font-size: 10px;
  /* background-image: url("../images/tanner-vines-unsplash.jpg"); */
  background-color: #26547C;  /* B'Dazzled Blue*/
  background-size: cover;
}

header{
  position: fixed;
  top: 0;
  margin: 0;
  width: 100%;
  font-size: 2em;
  display: block;
  height: 50px;
  background-color: #171738; /* Middle Red Purple*/
  color: #ffffff; /* White */
  z-index: 2;

}

.main-title /* main-page <h1>*/ {
  margin: 0;
  padding: 0;
  position: absolute;
  line-height: 50px;
}

nav {
  position: absolute;
  display: block;
  height: 50px;
  right: 10px;
}

ul {

  position: relative;
  line-height: 50px;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  display: inline-block;
}


 .main-nav {
  color: #fff;
  background-color: #00f978; /*Spring Green*/
  padding: 5px 15px;
  margin: 5px 5px;
  border: solid #00f978 2px;
  border-radius: 5px;
}

a {}
a:hover {}
a:visited {}
a:active {}


main{
  position: relative;
  margin: 50px auto;
  width: 80%;
  top: 50px;
  font-size: 2em;

}

h2 {
  margin: 0;
  text-align: center;
}

.pics-left {
  float: left;
  padding: 30px;
  border: hidden 10px #000;
  border-radius: 10px;
}

.grid-container-1 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 25px 50px;
  justify-content: space-evenly;
  /* background-color: #26547C;  /* B'Dazzled Blue*/
}

.grid-item-1 {
  grid-column: 1 / span 2;
    border: hidden #26547C;
    border-radius: 5px;
    padding: 10px 30px;
    margin: 0;
    color: #000;
    background-color: #4392f1;  /* Blue berry*/
}

.grid-item-2 {
    border: hidden #26547C;
    border-radius: 10px;
    padding: 10px 30px;
    color: #000;
    background-color: #4392f1;  /* Blue berry*/
}


footer {
  position: absolute;
  height: 100px;
  bottom: 0px;
  margin: 100px 0 0 0;
  padding: 0;
  width: 100%;
  color: #fff;
  font-size: 2em;
  line-height: 100px;
  text-align: center;
  background-color: #171738; /* Middle Red Purple*/
  z-index: 2;

}

.footer-content {
  margin: 0;
  padding: 0;

}
