html {
    background-color: #F8F7F5
}

body {
    margin: auto;
    background-color: #F8F7F5;
}

main {
    max-width: 95%;
    margin: 0px auto 4em auto;
}

header {
    width: 100%;
    height: 205px;
    background-color: #fff;
    margin: 0;
    justify-content: end;
}

#nav-actual {
    padding: 2em;
}

#nav-actual ul li a {
    text-decoration: none;
    color: #566ae3;
    font-size: 19px;
    padding: 0 23px;
}

a {
    text-decoration: none;
    color: #566ae3;
    font-size: 19px;
}

a:visited {
    text-decoration: none;
    color: #566ae3;
}

a:hover {
    color: #566ae3;
}

a:active {
    color: #566ae3;
}

#nav-actual ul li {

    list-style-type: none;
    display: inline;
    font-family: Roboto;
    font-size: 19px;
    text-align: left;
}

.top-section {
    justify-content: center;
    gap: 5em;
}

.business-card {
    background-color: transparent;
    /* width: ; */
}

.business-card h1 {

    font-size: 45px;
    color: #13315c;
    padding: 0;
    margin: 0;

}

.business-card h2 {
    font-size: 28px;
    color: #13315c;
    padding: 0;
    margin: 0;

}

.business-card h3 {
    font-size: 16px;
    color: #13315c;
    padding: 0;
    margin: 0;
}


section {

    text-align: center;
    background-color: #808a9f;
}

h2 {
    font-size: 28px;
}



.first-section1 {
    display: flex;
    background-color: #808a9f;
    max-width: 90%;
    padding: 3px;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.second-section1 {

    display: flex;
    background-color: #808a9f;
    max-width: 90%;
    padding: 3px;
    margin: auto;
    text-align: center;
    justify-content: center;
}

article {
    background-color: #ffffff;
    margin: 1em auto;
    min-width: 300px;
    max-width: 500px;
    border-radius: 4px;
}

article p {
    padding: 1.5em;
    font-size: 16px;
    font-family: Roboto;
}

footer {
    position: fixed;
    left: auto;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    height: 2em;

}

.footerdiv {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}