@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

body {
  margin: auto;
  background-color: #fff;
  z-index: -1;
}

header {
  width: 100%;
  background-color: #fff;
  margin: 0;
}

img {
  display: block;
  max-width: 98%;
  margin: 1rem 1rem;
}

#logo-div {
  margin: 0rem 2rem;
  align-self: flex-start;
  flex-grow: 1;
}

.logo-link {
  display: block;
  max-width: 5rem;
}

#nav-actual {
  padding: 0rem 1rem;
  flex-grow: 0;
  align-items: center;
}

#nav-actual ul li a {
  color: #566ae3;
  font-size: 19px;
  padding: 0 23px;
}

#nav-actual ul li {
  list-style-type: none;
  display: inline;
  font-family: Roboto, Tahoma;
  font-size: 19px;
  text-align: left;
}

/* bg color */
main {
  position: absolute;
  background-color: #f8f7f5;
  top: 13.5rem;
  width: 100%;
  height: 1500px;
  z-index: -1;
  display: inline-block;
}

a {
  text-decoration: none;
  color: #566ae3;
  font-size: 19px;
}

a:visited {
  text-decoration: none;
  color: #566ae3;
}

a:hover {
  text-decoration: underline;
  transition: box-shadow 0.3s ease;
  
}

a:active {
  color: #000000;
}

.top-section {
  margin: 2rem auto 2rem auto;
  max-width: 1350px;
  gap: 2em;
}

#profile-pic {
  flex-basis: content;
}

.business-card {
  background-color: transparent;
  flex-basis: content;
}

.skills {
  padding: 1rem;
  text-align: center;
  flex-basis: 40%;
  background-color: white;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.1);
}

#skills-ul-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.skills h1,
.business-card h1 {
  font-size: 45px;
  color: #13315c;
  padding: 0;
  margin: 0;
}

.skills h2,
.business-card h2 {
  font-size: 28px;
  color: #13315c;
  margin: 0rem 1rem;
  padding: 0rem  1rem;
}

.skills h3,
.business-card h3 {
  font-size: 16px;
  color: #13315c;
  padding: 0;
  margin: 0;
}

.skills ul {
  padding: 0;
  margin: 0;
}

.skills li {
  display: block;
  list-style-type: none;
  padding: 0px 10px;
  text-align: center;
  margin: 0 0.5rem;
}

section {
  margin: 0 auto;
  text-align: center;
  background-color: rgba(128, 138, 159, 0.2);
  max-width: 1350px;
  border-radius: 4px;

  font-family: Roboto, Tahoma;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
}

.insert-content {
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 28px;
  margin: 0rem 1.5rem;
  padding: 1.5rem 0;
}

h3{
  margin: 0.5rem 1rem;
}

.second-section1 {
  max-width: 90%;
  padding: 3px;
  margin: auto;
  justify-content: center;
}

article {
  background-color: #ffffff;
  margin: 1rem auto;
  min-width: 300px;
  max-width: 650px;
  border-radius: 4px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.1);
}

.vPetLink:hover,
.citiesReviewLink:hover,
.donutMakerLink:hover,
.spaceInvadersLink:hover,
.dndCharCreaterLink:hover {
  transition: box-shadow 0.3s ease;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.3);
  outline: 2px solid black;
}

article p {
  margin: 0.5rem 0;
  padding: 0.5em 1.5rem;
  font-size: 16px;
}

.projectPicDiv {
  margin: 1rem auto;
  width: 95%;
}

.projectPicImg {
  margin: 1rem auto;
}

footer {
  font-family: Roboto, Tahoma;
  position: fixed;
  left: auto;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  height: 4em;
}

.footerdiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ul {
  padding: 0;
  list-style: none;
}

li {
  margin: 1rem;
}

/* for images */

.image-ss {
  position: relative;
  background-color: white;
  grid-column: 1 / span 4;
  border-radius: 4px;
}

.project-images {
  margin: 0 auto;
  width: 95%;
  display: none;
  max-height: 45rem;
}

.button-left {
  position: absolute;
  padding: 30px 10px;
  background-color: black;
  border-style: none;
  border-radius: 3px;
  color: white;
  left: 0px;
  top: 45%;
}

.button-left:hover {
  position: absolute;
  padding: 28px 8px;
  background-color: white;
  border-radius: 3px;
  color: black;
  border: solid black 2px;
}

.button-right {
  position: absolute;
  padding: 30px 10px;
  background-color: black;
  border-style: none;
  border-radius: 3px;
  color: white;
  right: 0px;
  top: 45%;
}

.button-right:hover {
  position: absolute;
  padding: 28px 8px;
  background-color: white;
  color: black;
  border: solid black 2px;
}

.embed-space-invaders {
  position: relative;
  background-color: white;
  min-width: 600px;
  min-height: 600px;
  border-radius: 4px;
}
