html {
    background-color: black;
}

body {
    margin: auto;
    max-width: 90%;
    background-color: darkgray;
}

header {
    text-align: center;

}
section{
    margin: 3em;
}

p{
    font-size:large;
}

footer {
text-align: center;
}