html {
    background-color: black;
}

body {
    max-width: 90%;
    margin: auto;
    background-color: dimgray;
}

main {
    margin-bottom: 3em;
    background-color: darkgray;
}

header {
    max-width: 95%;
    background-color: darkgray;
    margin: auto;
    padding: 3px;
    text-align: center;
}


#nav-actual ul li {
    list-style-type: none;
    display: inline;
}

.top-section,
h2 {
    background-color: darkgray;
    max-width: 90%;
    padding: 3px;
    margin: 0.5em auto;
    text-align: center;
}

.main-section {
    background-color: darkgray;
    max-width: 90%;
    padding: 3px;
    margin: 0.5em auto;
    text-align: center;
}

.column1 {
    margin: auto;
}

.ul-div{
    margin: auto;
    max-width: 50%;
    text-align: left;
}

.column2 {
    margin: auto;
}

.vpet-app {
    text-align: left;
}


footer {
    position: fixed;
    left: auto;
    bottom: 0;
    
    width: 90%;
    background-color: darkgray;
    height: 2em;
    
    border-top: double 5px black;

 }

.footerdiv {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}