@media screen and (min-width: 1px) and (max-width: 880px) {

  header {
    display: grid;
  }

  #nav-actual li {
    display: list-item !important;
  }

  .top-section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }


  .business-card h1 {
    font-size: 25px;
  }

  .business-card h2 {
    font-size: 18px;
  }

  .business-card h3 {
    font-size: 14px;
  }

  .second-section1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

}

@media screen and (min-width: 881px) and (max-width: 1400px) {

  header {
    display: flex;
  }

  .top-section {
    display: flex;
    grid-template-columns: 1fr 1fr;
  }

  .second-section1 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1401px) and (max-width: 10000px) {

  header {
    display: flex;
  }

  .top-section {
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
  }

  .second-section1 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }

}
