@media screen and (min-device-width: 1px) and (max-device-width: 550px) and (-webkit-min-device-pixel-ratio: 1) {

  header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .top-section {
    display: flex;
    flex-direction: row;
    grid-template-columns: 2fr 1fr;
  
  }

  .second-section1 {
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;
    flex-direction: column;
  }

}

@media screen and (min-device-width: 551px) and (max-device-width: 1250px) and (-webkit-min-device-pixel-ratio: 1) {

  header {
    display: flex;
  }

  .top-section {
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
  }

  .second-section1 {
    display: flex;
    grid-gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-device-width: 1250px) and (max-device-width: 1900px) and (-webkit-min-device-pixel-ratio: 1) {

  header {
    display: flex;
  }

  .top-section {
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
  }


  .second-section1 {
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr;
  }

}

@media screen and (min-device-width: 1900px) and (max-device-width: 6000px) and (-webkit-min-device-pixel-ratio: 1) {

  header {
    display: flex;
  }

  .top-section {
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
  }

  .second-section1 {
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-device-width: 1921px) and (max-device-width: 2560px) and (-webkit-min-device-pixel-ratio: 1) {

  header {
    display: flex;
  }

  .top-section {
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
  }

  .second-section1 {
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}